$primary-color: #5ed3a2;
$header-height: 62px;
$primary-bg: #f3f7f9;
$secondary-bg: #0d2538;
$primary-link-color: #3bba95;
$border-color: #e1eaef;
$success-bg: rgba(91,177,150,0.25);
$space: 20px;
$space-x2: 40px;
$code-color: #f2f4f5;
$code-color-block: #f2f4f5;

:root {
  --primary-color: $primary-color;
  --header-height: $header-height;
  --primary-bg: $primary-bg;
  --secondary-bg: $secondary-bg;
  --primary-link-color: $primary-link-color;
  --border-color: $border-color;
  --success-bg: $success-bg;
  --space: $space;
  --space-x2: $space-x2;
  --code-color: $code-color;
  --code-color-block: $code-color-block;
}