@import 'css/layouts';

:root {
  --primary-color: #B6CE61;
  --header-height: 62px;
  --primary-bg: #f3f7f9;
  --secondary-bg: #0d2538;
  --secondary-color: #e1eaef;
  --primary-link-color: #8AD182;
}

* {
  box-sizing: border-box;
}
p {
  margin: .1rem 0;
  padding: 0;
  line-height: 1;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}